*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pyo
*.pyc
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
*.bak
*.kate-swp
bin/
*.aux
*.lot
*.fls
*.out
*.toc
/node_modules
settings-deploy.json
